body{
    margin:0;
    padding:0;
    background-color: #efefef;
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,ol{list-style: none;}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 
body,html{height:100%}
.siteWelcome{
    position:fixed;
    top:0;
    left:0;
    width:100%;height:100%;
    background-color: #888;
    z-index:10;
    display:none;
    justify-content: center;
    align-items: center;
}
.siteWelcome.active{
    display:flex
}
.siteWelcome .loading{
    height:200px;
    width:200px;
    position: relative;
}
.siteWelcome .loading::before,.loading::after{
    content:'';
    display:block;
    animation: a 1.5s linear infinite;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.siteWelcome .loading::after{
    animation-delay: 0.75s
}
@keyframes a{
    from{
        height:0;width:0;border-radius: 50%;background-color: #000;opacity: 1;
    }
    to{
        height:100px;width:100px;border-radius: 50%;background-color: #000;opacity: 0;
    }
}
.topNavBar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:4;
}
.topNavBar .topNavBar-inner{
    padding:20px 16px 20px 16px;
    color:#b7b7b7;
}
.topNavBar .topNavBar-inner.active{
    background-color: #fff;
    padding:10px 16px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    color:#666;
}
.topNavBar nav{
    float:right;
    padding-top: 7px;
}
.topNavBar .logo{
    float:left;
    font-size:24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color:#e6686a;
}
.topNavBar .logo .card{
    color:#9a9da2;
    margin-left:4px;
}
.topNavBar nav> ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav ul li.menu{
    float:left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar nav ul li.menu a{
    display:block;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topNavBar nav ul li.menu a.highlight::after{
    display:block;
    animation: menu-slide 0.3s;
}
.topNavBar nav ul li.menu a::after{
    content:'';
    display:block;
    height:3px;
    width:100%;
    background-color: #e6686a; 
    display:none;
}
.topNavBar nav ul li.menu.active a::after{
    display:block;
    animation: menu-slide 0.3s;
}
@keyframes menu-slide{
    0%{width:0%}
    100%{width:100%}
}
.topNavBar ul.subMenu{
    padding-top:5px;
    position: absolute;
    top:100%;
    left:0;
    display:none;
    box-shadow: 0 0 3px rgba(0,0,0,0.8)
}
.topNavBar ul.subMenu li{
    white-space: nowrap;
    padding:7px 0;
    cursor: pointer;
    background-color: #fff;
    color:black;
    width:50px;
    text-align: center;
}
.topNavBar ul.subMenu li:hover{
    background-color: #cbcdcf;
}
.topNavBar ul.subMenu.active{
    display:block;
    animation: subMenu-slide 0.3s;
}
@keyframes subMenu-slide{
    0%{margin-left:-22px;}
    100%{margin-left:0}
}
.banner{
    height:515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center center;
    background-size:cover; 
}
.banner .mask{
    height:515px;
    background-color: rgba(0,0,0,0.7);
}
.userCard{
    max-width: 940px;
    background-color: #fff;
    margin:-240px auto 0;
}
.userCard .pictureAndText{
    padding:50px;
    
}
.userCard .picture{
    
    float:left;
}
.userCard .text{
    float:left;
    margin-left:65px;
    width:470px;
}
.userCard .welcome{
    padding:4px 16px;
    color:#fff;
    display:inline-block;
    background-color: #e6686a;
    margin-bottom:10px;
    position: relative;
}
.userCard .triangle{
    border:10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0;
    position: absolute;
    top:100%;
    left:4px;
}
.userCard h1{
    margin-top:18px;
}
.userCard hr{
    margin:20px 0;
    height:0;
    border:none;
    border-top:1px solid #DEDEDE;
}
.userCard dl dt,dd{
    float:left;
    padding:5px 0;
}
.userCard dl dt{
    width:30%;
    font-weight: bold;
}
.userCard dl dd{
    width:70%;
    color:#9da0a7;
}
.userCard .media{
    background-color: #e6686a;
    text-align: center;
}
.userCard a{
    display: inline-block;
    margin:16px;
    border-radius: 50%;
    padding:5px 0;
    width: 40px;
}
.userCard a:hover{
    background-color: #CF5D5F;
}
.userCard svg{
    width:30px;
    height:30px;
    fill:white; 
}
.button{
    max-width: 940px;
    text-align: center;
    margin:30px auto 25px auto;
}
.button a.downloadPdf{
    display:inline-block;
    margin:5px;
    color:#3d4451;
    border:1px solid #cbcdcf;
    border-radius: 2px;
    padding:21px 55px;
    font-weight: bold; 
    font-size: 15px;
}
.button a.downloadPdf:hover{
    opacity: 0.95;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.selfIntroduction{
    max-width: 940px;
    margin:0 auto;
    text-align: center;
}
.selfIntroduction .selfIntroductionText{
    font-size:20px;
    font-family: "楷体";
}
.skills{
    max-width: 940px;
    margin:0 auto;
    text-align: center;
    padding-top:70px;
}
.skills h2,.message h2{
    color:#3d4451;
    font-size: 34px;
    margin-bottom: 25px;
}
.skills .sectionBox{
    background-color: #fff;
    padding:40px 35px 10px 35px;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.skills .skillIterm{
    float:left;
    padding:0 15px;
    font-size: 14px;
    color:#3d4451;
    width:50%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom:40px;
}
.skills .skillBar{
    height:5px;
    background-color: #fae1e1;
    border-radius: 2px;
    overflow: hidden;
}
.skills .skillBar-inner{
    height:5px;
    width:80%;
    background-color: #e8676b;
    border-radius: 2px;
    transform:translateX(0); 
    transition:all 0.5s;
}
.skills.offset .skillBar-inner{
    transform: translateX(-100%);
}
.portfolio{
    max-width: 940px;
    height:711px;
    margin:0 auto;
    text-align: center;
    padding-top:70px;   
}
.portfolio h2{
    color:#3d4451;
    font-size: 34px;
    margin-bottom: 25px;
}
.message { 
    max-width: 940px;
    margin:0 auto;
    text-align: center;
}
.message ol{
    border-top:1px solid #ccc;
    margin-bottom: 20px;
}
.message ol>li{
    border-bottom:1px solid #ccc;
    height:50px;
    text-align:left;
    padding-left:10px;
    line-height:50px;
}
.leaveBlank{
    height:200px;
}

[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition:all 0.5s;
}